<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AfterDownloadFileHandler.Properties.Params" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <AfterDownloadFileHandler.Properties.Params>
            <setting name="REMOTE_MOVIES_PATH" serializeAs="String">
                <value>m:/</value>
            </setting>
            <setting name="REMOTE_SERIES_PATH" serializeAs="String">
                <value>i:/</value>
            </setting>
            <setting name="LABEL_TRIGGER_VALUE" serializeAs="String">
                <value>Copy2NAS</value>
            </setting>
            <setting name="AUTO_SUBTITLE_DOWNLOAD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REMOTE_UNKNOWN_PATH" serializeAs="String">
                <value>m:/ZZZ/</value>
            </setting>
            <setting name="SKIP_FILE_EXTENSIONS" serializeAs="String">
                <value>.dat,.Dat,.DAT,.nfo,.Nfo,.NFO</value>
            </setting>
            <setting name="SUB_EXTENSIONS" serializeAs="String">
                <value>.str,.srt,.sub</value>
            </setting>
            <setting name="ASD_LANG" serializeAs="String">
                <value>rum,eng</value>
            </setting>
            <setting name="SKIP_SAMPLES" serializeAs="String">
                <value>sample,Sample,SAMPLE</value>
            </setting>
        </AfterDownloadFileHandler.Properties.Params>
    </applicationSettings>
</configuration>